h1{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}

input{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.flex-container{
    gap: 10%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.first-part{
    flex: 45%;
    
}
.second-part{
    flex: 45%;
}
.full-part{
    flex: 100%;
}

p{
    padding: 10px;
}
button{
    width: 100%;
    margin: 10px;
    padding: 10px;
    color: white;
    border: none;
}
button#register{
    background-color: blue;
}
button#sign-in{
    background-color: green;
    border-radius: 5px;
}